.submenu {
  width: 100%;
}

.submenu ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.submenu__item {
  position: relative;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: .3s;
  cursor: pointer;
  border: 1px solid var(--block-child-border-color);
  background-color: var(--block-child-background);
}


.submenu__item:focus-visible {
  outline: none;
  border: 2px solid var(--focus-color);
}

.submenu_item > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.submenu_item > span > span {
  margin-left: auto;
  margin-right: 10px;
}

.submenu_item .submenu__children {
  display: none;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
}

.submenu__item.show-children .submenu__children {
  display: flex;
  animation: slideDown 0.3s ease-in-out;
}

/* открытие */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}