/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-indigo-500: rgb(63, 81, 181);
  --focus-color: rgb(63,81,181);
}

/* Основные стили body */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Open Sans 700', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}